ul {
  list-style: none;
  padding: 0;
}

._Visible_18c5z_6 {
  opacity: 1;
  visibility: visible;
}

._Invisible_18c5z_11 {
  opacity: 0;
  visibility: hidden;
}

._Button_18c5z_16,
._Button_18c5z_16:hover {
  color: #ffffff;
  border: 0px;
  background-color: #357bf2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 2px 18px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 600;
  line-height: 20px;
  font-family: 'Soleil', Arial, sans-serif;
  cursor: pointer;
  text-transform: capitalize;
}

._Button_18c5z_16:focus {
  outline: 0;
}

._Button_18c5z_16:hover {
  opacity: 0.9;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

._Run-Code_18c5z_44 {
  display: flex;
  flex-direction: column;
}

._Run-Code_18c5z_44 header {
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background: #f8f8f8;
  border: 1px solid #ddd;
}

._Run-Code_18c5z_44 header ._Menu_18c5z_57 {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._Run-Code_18c5z_44 header ._Menu_18c5z_57 ._Copy_18c5z_65 {
  padding: 5px 15px;
  cursor: pointer;
}

._Run-Code_18c5z_44 header ._Menu_18c5z_57 ._Copy-Text_18c5z_70 {
  font-size: 14px;
  transition: all 0.5s;
}

._Run-Code_18c5z_44 header ._Menu_18c5z_57 ._Icon_18c5z_75 {
  height: 20px;
  width: 20px;
}

._Run-Code_18c5z_44 header ._Language_18c5z_80 {
  display: flex;
  font-size: 14px;
  color: #333;
  align-items: center;
  cursor: pointer;
}

._Run-Code_18c5z_44 header ._Language_18c5z_80 ._More_18c5z_88 {
  height: 45px;
  width: 45px;
  padding: 15px 0 20px 5px;
}

._Run-Code_18c5z_44 ._Editor_18c5z_94 {
  padding: 12px 0px;
  border: 1px solid #ddd;
  border-top-width: 0;
  border-radius: 0 0 6px 6px;
}

._Run-Code_18c5z_44 ._Help-Text_18c5z_101 {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

._List-Box_18c5z_107 {
  position: relative;
}

._List-Box_18c5z_107 ._Button-Box_18c5z_111 {
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
  display: flex;
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: transparent;
  background-image: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  text-transform: none;
}

._List-Box_18c5z_107 ._Button-Box_18c5z_111 ._Text_18c5z_129 {
  font-size: 14px;
  color: rgb(75, 85, 99);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._List-Box_18c5z_107 ._Button-Box_18c5z_111 ._Icon_18c5z_75 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  display: flex;
  pointer-events: none;
}

._List-Box_18c5z_107 ._Option-List_18c5z_145 {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: white;
  border: 2px solid rgb(147, 197, 253);
  border-radius: 0.375rem;
  overflow: auto;
  max-height: 20rem;
  margin: 0.25rem;
  z-index: 10;
  position: absolute;
}

._List-Box_18c5z_107 ._Option-List_18c5z_145 ._Option_18c5z_145 {
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: default;
}

._Run-Code_18c5z_44 footer {
  padding: 11px 0;
  display: flex;
  justify-content: flex-end;
}

._Run-Code_18c5z_44 ._Output-Header_18c5z_176 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

._Run-Code_18c5z_44 ._Output_18c5z_176 {
  margin: 0;
  padding: 12px;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #333;
  word-break: break-word;
  white-space: pre-wrap;
}
